.inicio{
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    .inicio-texto{
        h1{
            font-size:$big-font;
            color:$main-color;
        }
        h2{
            font-size:$h2-font;
            margin: 1rem 0 2rem;
        }
    }
    .inicio-img{
        img{
            max-width: 120%;
            width: 900px;
            height: auto;
            transition: .4s;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    
}



