.inicio2{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    grid-area: "inicio2";
    grid-template-areas: "inicio2 inicio2";
    align-items: center;
    .inicio-img2{
        img{
            max-width: 100%;
            width: 1000px;
            height: auto;
            transition: .4s;
            &:hover{
                transform: scale(1.2); 
            } 
        }
    }
    .inicio-texto2{
        h1{
            font-size: $big-font;
            color: $main-color; 
        }
        h2{
            font-size: $h2-font;
            margin: 1rem 0 2rem; 
        }
    }
}