.inicio{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    grid-area: inicio1;
    grid-template-areas: "inicio1 inicio1";
    align-items: center;
}
.inicio-img{
    img{
        max-width: 120%;
        width: 900px;
        height: auto;  
    }
}
.inicio-texto{
    h1{
        font-size:$big-font;
        color:$main-color;
    }
    h2{
        font-size:$h2-font;
        margin: 1rem 0 2rem;
    }
}

