.inicio2{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    grid-template-areas: "inicioimg2 iniciotexto2";
    align-items: center;
    .inicio-img2{
        grid-area: inicioimg2;
    }
    .inicio-img2{
        img{
            max-width: 100%;
            width: 1000px;
            height: auto;
            transition: .4s;
            &:hover{
                transform: scale(1.3); 
            } 
        }
    }
    .inicio-texto2{
        grid-area: iniciotexto2;
    }
}