@media screen and (max-width:576px){
    .inicio{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "inicio1"
        "inicio1"        
    }
    .inicio-img{
        img{
            width: 100%;
        }
    }
    .inicio-texto h1{
        font-size: 3rem;
        text-align: center;
        
    }
    .inicio-texto h2{
        font-size: 2rem;
        text-align: center;
    }
    .inicio2{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "inicio2"
        "inicio2"
    }
    .part{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "part1"
        "part1"
    }
    .inicio3{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "inicio3"
        "inicio3"
    }
    .inicio-img3{
        img{
           width: 50px; 
        }
    }
    .part-img4{
        img{
            width: 100%;
        }
    }      
}