@media screen and (max-width:576px){
    .inicio{
        flex-direction: column;
    }
    .inicio-texto{
        h1{
            font-size: 3rem;
            text-align: center;
        }
    }
    .inicio-texto{
        h2{
            font-size: 2rem;
            text-align: center;
        }
    }
    .inicio-img{
        img{
            width: 100px;      
        }
    }
    .inicio2{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "inicioimg2"
        "iniciotexto2"
    }
    .part{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "parttext"
        "partimg"
    }
    .part1{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "part1text"
        "part1img"
    }
    .seccion2{
        flex-direction: column;
        .seccion2-img{
            img{
                width: 300px;
                padding: 30px;
            }
        }
    }
    .part2{
        flex-direction: column;
        .part2-img2{
            img{
                width: 350px;
                height: 350px;
            }
        }
    }
    
    
}