.part{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-area: part1;
    grid-template-areas: "part1 part1";
    align-items: center;
    .part-img2{
        img{
            width: 100%;
            max-width: 100%;
            height: auto;
            transition: .4s;
            &:hover{
                transform: scale(1.2); 
            }  
        }
    }
    .part-text2{
            h2{
                color: var(--main-color);
                font-size: var(--h2-font); 
            } 
            p{
                font-size: 20px;
                margin: 0.8rem 0 1.8rem;
                line-height: 1.7rem; 
            }
            h3{
                margin: 0.8rem 0;  
            }
        }
    }
