@import "header";
@import "inicio2";
@import "part";
@import "footer";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color:rgb(3, 195, 243);
    --text-color:#fff;
    --bg-color:#1e1c2a;
    --big-font:5rem;
    --h2-font:2.25rem;
    --p-font:0.9rem;
}

body{
    color: var(--text-color);
    background: var(--bg-color);
}
section{
    padding: 70px 17%;
    background-color: var(--bg-color);
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.col p{
    color: #9897a9;
    font-size: 1.1rem;
    display: block;
    text-transform: capitalize;
    transition: .4s;
}
